*{font-family: 'Brush Script MT', cursive;text-align: center;color:red;}
body{background-color:#ddd}
img{height:50px;width:50px;left:5px;position:absolute}
button{background-color: rgb(51, 51, 51);color:red;border:red;width:25%;}
button:hover{background-color: rgb(37, 37, 37);color:red;border:red;width: 25.5%;}
dark_mode{background-color:rbg(66,66,66)}
#fixedButton{
  position: fixed;
}
